.rightsWrap {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    font-size: 0;
    letter-spacing: 0.025rem;
    background:#f2f2f2;
}

.rightsTitle {
    position: relative;
    width:100%;
    height:5.0rem;
    line-height: 5.0rem;
    text-align: center;
    font-size: 1.0rem;
    color:#f39800;
    font-weight: bold;
}

.rightsTitle-bg {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.rights-list {
    overflow: hidden;
    box-sizing: border-box;
    margin-top:0.5rem;
    padding:1.0rem 0 0 0.75rem;
    background: #fff;
}

.rights-item {
    margin-bottom: 1.0rem;
    line-height: 1;
    font-size: 0.7rem;
    color:#666;
}

.rights-item span {
    vertical-align: middle;
}

.rights-item .rights-icon {
    margin-right: 0.5rem;
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background:#f39800;
    vertical-align: middle;
    transform:rotate(45deg);
}

.rightsDetail-title {
    padding-left:0.75rem;
    height:2.375rem;
    line-height: 2.375rem;
}

.rightsDetail-title span {
    display: inline-block;
    height:0.875rem;
    line-height: 0.875rem;
    padding-left: 0.4rem;
    border-left: 0.2rem solid #f39800;
    font-size: 0.75rem;
}

.rights-detail {
    overflow: hidden;
    box-sizing: border-box;
    padding:0 0.75rem;
    background: #fff;
}

.rightsDetail-item {
    margin-top:0.75rem;
    margin-bottom:0.45rem;
    font-size:0.7rem;
    line-height: 1;
}

.rightsDetail-text {
    margin-bottom:0.5rem;
    line-height: 1.25rem;
    font-size: 0.6rem;
    color:#666;
    text-indent: 2em;
}

.rightsDetail-img {
    width:100%;
}




