.progress {
    position:relative;
    display: inline-block;
    width:5.0rem;
    height:0.5rem;
    background:#fff;
    border-radius: 0.75rem;
    vertical-align: middle;
}

.bar {
    position: absolute;
    left:0;
    top:0;
    height:0.5rem;
    border-radius: 0.75rem;
    background:#f39800;
}